<!-- tracking information for google analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123092960-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123092960-1');
</script>

<!--insert favicon-->
<link rel="shortcut icon" href="/images/code.ico" type="image/x-icon">

<!-- Add link image preview -->
<meta property="og:image" content="https://jurentie.github.io/images/ship.png">

<meta property="og:type" content="blog"/>
<meta property="og:site_name" content="CodeOdyssey"/>